In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('C:/Users/Gray/Desktop/dataset/kc_house_data.csv')
#dataset.head(10)

In [3]:
#X = dataset.iloc[:, [5,6,12,13,19,20]]
#X = dataset.iloc[:, [3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 19, 20]]
X = dataset.iloc[:, 3:]
Y = dataset.iloc[:, [2]]
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [4]:
# Normalisation

meu = np.mean(X)
std = np.std(X)

X = (X-meu)/std

In [5]:
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,-0.398737,-1.447464,-0.979835,-0.228321,-0.915427,-0.087173,-0.305759,-0.629187,-0.558836,-0.734708,-0.658681,-0.544898,-0.210128,1.870152,-0.352572,-0.306079,-0.943355,-0.260715
1,-0.398737,0.175607,0.533634,-0.189885,0.936506,-0.087173,-0.305759,-0.629187,-0.558836,0.460841,0.245141,-0.681079,4.746678,0.879568,1.161568,-0.746341,-0.432686,-0.187868
2,-1.473959,-1.447464,-1.426254,-0.123298,-0.915427,-0.087173,-0.305759,-0.629187,-1.409587,-1.229834,-0.658681,-1.293892,-0.210128,-0.933388,1.283537,-0.135655,1.070140,-0.172375
3,0.676485,1.149449,-0.130550,-0.244014,-0.915427,-0.087173,-0.305759,2.444294,-0.558836,-0.891699,1.397515,-0.204446,-0.210128,1.085160,-0.283288,-1.271816,-0.914174,-0.284522
4,-0.398737,-0.149007,-0.435422,-0.169653,-0.915427,-0.087173,-0.305759,-0.629187,0.291916,-0.130895,-0.658681,0.544548,-0.210128,-0.073636,0.409550,1.199335,-0.272190,-0.192849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,-0.398737,0.500221,-0.598746,-0.337424,2.788439,-0.087173,-0.305759,-0.629187,0.291916,-0.312039,-0.658681,1.293542,-0.210128,0.468382,1.004958,-0.938069,-0.666135,-0.412381
21609,0.676485,0.500221,0.250539,-0.224386,0.936506,-0.087173,-0.305759,-0.629187,0.291916,0.629908,-0.658681,1.463768,-0.210128,1.272063,-0.356180,-1.051685,-0.228419,-0.203946
21610,-1.473959,-1.772078,-1.154047,-0.332137,0.936506,-0.087173,-0.305759,-0.629187,-0.558836,-0.927928,-0.658681,1.293542,-0.210128,1.234683,0.247888,-0.604321,-1.410253,-0.394141
21611,-0.398737,0.500221,-0.522528,-0.307076,0.936506,-0.087173,-0.305759,-0.629187,0.291916,-0.227505,-0.658681,1.123316,-0.210128,-0.952078,-0.184414,1.028910,-0.841221,-0.420511
21612,-1.473959,-1.772078,-1.154047,-0.338752,0.936506,-0.087173,-0.305759,-0.629187,-0.558836,-0.927928,-0.658681,1.259497,-0.210128,1.234683,0.245723,-0.604321,-1.410253,-0.417948

In [6]:
meu

bedrooms             3.370842
bathrooms            2.114757
sqft_living       2079.899736
sqft_lot         15106.967566
floors               1.494309
waterfront           0.007542
view                 0.234303
condition            3.409430
grade                7.656873
sqft_above        1788.390691
sqft_basement      291.509045
yr_built          1971.005136
yr_renovated        84.402258
zipcode          98077.939805
lat                 47.560053
long              -122.213896
sqft_living15     1986.552492
sqft_lot15       12768.455652
dtype: float64

In [7]:
std

bedrooms             0.930040
bathrooms            0.770145
sqft_living        918.419649
sqft_lot         41419.553273
floors               0.539976
waterfront           0.086515
view                 0.766300
condition            0.650728
grade                1.175432
sqft_above         828.071820
sqft_basement      442.564804
yr_built            29.372731
yr_renovated       401.669947
zipcode             53.503788
lat                  0.138561
long                 0.140825
sqft_living15      685.375448
sqft_lot15       27303.547963
dtype: float64

In [8]:
X_train = X.iloc[:17290, :]
X_test = X.iloc[17289:, :]

In [9]:
Y_train = Y.iloc[:17290, :]
Y_test = Y.iloc[17289:, :]

In [10]:
def biasing_X(X):
    N = X.shape
    arr = np.ones((N[0], 1))
    X = np.hstack((arr, X))
    w = np.zeros((N[1]+1, 1))
    return X, w

In [11]:
X_bias, theta = biasing_X(X_train)

In [12]:

X_bias = np.array(X_bias)
X_bias = X_bias.T
print(X_bias.shape)

(19, 17290)

In [13]:
theta = np.array(theta)
theta.shape

(19, 1)

In [14]:
def hypo(X, W):
    return np.dot(X.T, W)

In [15]:
def cost(X, Y, W):
    m = X.shape[1]
    #print(m)
    n = X.shape[0]
    sum = 0
    Temp = hypo(X, W) - Y
    J = (np.sum(Temp**2))/(2*m)
    #print(J)
    return J

In [16]:
def gradient_descent(X, W, Y, Alpha, Step):
    N = X.shape[1]
    print(N)
    J = []
    initial = cost(X, Y, W)
    J.append(initial)
    #np.dot(x.T, (y_hat-y)))
    print(J)
    for i in range(Step):
        Te = hypo(X, W)
        Te = Te - Y
        K = X@Te
        print(i)
        #print(K.shape)
        #print(K.T)
        W = W - (Alpha/N)*K
        Temp = cost(X, Y, W)
        J.append(Temp)
        
    return J, W

In [17]:
J, W = gradient_descent(X_bias, theta, Y_train, 0.009, 1000)

17290
[price    2.091271e+11
dtype: float64]
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [18]:
print(W) # value from Gradient Descent

            price
0   533902.492580
1   -30573.806936
2    30775.380257
3    79733.706501
4     6151.935067
5      555.153278
6    51528.697736
7    39639.481722
8    18693.027767
9   101945.446502
10   75496.221429
11   24205.967528
12  -83170.988672
13    9235.467485
14  -30126.607483
15   80795.605852
16  -27588.737894
17   31545.330810
18  -11816.789384

In [19]:
theta1 = np.linalg.pinv(X_bias@X_bias.T)@(X_bias@Y_train)
theta1 #value from formula

            price
0   533876.474896
1   -31591.526808
2    31538.496486
3    81144.233855
4     6214.680128
5     -462.772420
6    51436.855781
7    39949.131332
8    17792.884663
9   106534.014813
10   77037.739989
11   24248.826693
12  -85859.517055
13    8275.271524
14  -31549.672761
15   80681.825218
16  -26949.887568
17   24770.612791
18  -12048.277551

In [20]:
def prediction(W1):
    X_b1, _ = biasing_X(X_test)
    Y_pred = X_b1@W1
    return Y_pred

In [21]:
y_bar = np.mean(Y_test)
y_bar

price    567628.54926
dtype: float64

In [22]:
def error(Y_pp):
    R_error = ((Y_pp - y_bar).T@(Y_pp - y_bar)) /((Y_test - y_bar).T@(Y_test- y_bar))
    return R_error

In [23]:
Y_pred1 = prediction(W)
error(Y_pred1) # predicted by descent

          price
price  0.679832

In [24]:

Y_pred = prediction(theta1)
error(Y_pred) # predicted by formula

          price
price  0.684594

In [25]:
Y_pred1

              price
0     879754.649743
1     675382.937782
2     675382.937782
3     312821.375783
4     417563.972258
...             ...
4319  442403.450921
4320  414162.576732
4321  109696.295768
4322  355183.064230
4323  112593.554237

[4324 rows x 1 columns]

In [26]:
Y_pred

              price
0     890566.479061
1     678844.669784
2     678844.669784
3     316906.516673
4     426147.385658
...             ...
4319  440722.945913
4320  411397.272783
4321  107870.920741
4322  360686.452560
4323  110865.052832

[4324 rows x 1 columns]

In [27]:
Y_pred = np.array(Y_pred)
Y_pred1 = np.array(Y_pred1)
mse = (np.sum(Y_pred - Y_test)**2)/(Y_test.shape[0])
mse1 = (np.sum(Y_pred1 - Y_test)**2)/(Y_test.shape[0])

In [28]:
np.sqrt(mse)

price    2.048632e+06
dtype: float64

In [29]:
np.sqrt(mse1)

price    2.023425e+06
dtype: float64